
@{
    ViewBag.Title = "Admin";
}

<h1>Admin</h1>

<h3>Link to Add Rooms: <a href="@Url.Action("Index","Rooms")" >Go</a></h3>
<h3>
    Link to Add/Edit Pictures in Gallery: <a href="@Url.Action("Index","Galleries")">Go</a>
</h3>
<h3>Link to Add Client Testimonials: <a href="@Url.Action("Index","Testimonials")">Go</a> </h3>

<h3>Link to View/Edit Bookings: <a href="@Url.Action("Index","roomBooks")">Go</a> </h3>

<h3>Link to Edit Text: <a href="@Url.Action("Index","Texts")">Go</a> </h3>